<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heng.mapper.SkuSpecValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.heng.domain.SkuSpecValue">
        <id column="id" property="id" />
        <result column="sku_id" property="skuId" />
        <result column="spec_value_id" property="specValueId" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_update" property="gmtUpdate" />
        <result column="spec_id" property="specId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sku_id AS skuId, spec_value_id AS specValueId, gmt_create AS gmtCreate, gmt_update AS gmtUpdate, spec_id AS specId
    </sql>

</mapper>
